<%- include('partials/header') %>

<section>
    <img src="<%= team.image %>" alt="<%= team.title %>">
    <div>
        <h1><%= team.title %> (<%= team.region %>)</h1>
        <p><%= team.description %></p>
        <a href="/teams">â† Til baka</a>
    </div>
</section>

<%- include('partials/footer') %>