<%- include('partials/header') %>

<h1 class="title">LCK Teams</h1>
<div>
    <% teams.forEach(team => { %>
    <div>
        <img src="<%= team.image %>" alt="<%= team.title %>">
        <h3><%= team.title %></h3>
        <p><%= team.region %></p>
        <a href="/team/<%= team.id %>">Skoða Nánar</a>
    </div>
    <% }) %>
</div>

<%- include('partials/footer') %>